<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot四択クイズ</title>
</head>
<body>
    <h1 th:text="'第' + ${question_number} + '問'">タイトル</h1>
    <form th:action="@{/result}" method="post">
		<div th:object="${question}">
        <h3 th:text="*{question}">問題文</h3>
        <div>
        	<input type="radio" name="choice" value="1" checked="checked"/>
        	<label th:text="*{choice1}"/>
        </div>
        <div>
        	<input type="radio" name="choice" value="2"/>
        	<label th:text="*{choice2}"/>
        </div>
		<div>
        	<input type="radio" name="choice" value="3"/>
        	<label th:text="*{choice3}"/>
        </div>
        <div>
        	<input type="radio" name="choice" value="4"/>
        	<label th:text="*{choice4}"/>
        </div>
        <input type="hidden" name="id" th:value="*{id}">
        <input type="hidden" name="answer_id" th:value="*{answer_id}">
        <br><br>
        <button type="submit">解答を見る</button>
    </form>
</body>
</html>